{% extends 'base.html' %}
{# Don't forget that one ! #}
{% load static %}
{% block title %}
    Home
{% endblock title %}
{% block page_title %}Masters{% endblock page_title %}

{% block container %}
    <h3>My Master</h3>
    <hr>
    <div class="row">
    {% for each_card in cards %}
        <div class="s4 padding-1">
            <div class="card bg-light-grey">
                <div class="head">{{each_card.name}}</div>
                <div class="content">
                    <div>Total : {{each_card.count}}</div>
                    <div>Last Add At : {{each_card.last_entry}}</div>
                    <div class="tail">
                    <a class="but flat" href="/master/{{each_card.link}}?add">
                        Add
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                    <a class="but flat" href="/master/{{each_card.link}}">
                        View
                        <i class="fa fa-table" aria-hidden="true"></i>
                    </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock container %}

{% block footer %}
{{ form.media }}
{% endblock %}