{% extends 'base.html' %}
{# Don't forget that one ! #}
{% load static %}
{% block title %}
    Add Employee
{% endblock title %}
{% block page_title %}Masters{% endblock page_title %}

{% block container %}
    <h3>Add Employee</h3>
    <hr>
    {% include 'partial/form.html' with date1="Joining Date" date2="Leaving Date" %}
{% endblock container %}

{% block footer %}
{{ form.media }}
<script>
        document.querySelector("#id_dob").type = 'date';
</script>
{% endblock %}