{% extends 'base.html'%} {% load static %} {% block title %} Login {% endblock title %} {% block container %}
<form method="post">
    {% csrf_token %}
    <div class="card bg-gainsboro">
        <div class="head">
            Login
        </div>
        <div class="content">
            <div class="input-field">
                <label for="id_username">Username:</label>
                <input type="text" name="username" maxlength="254" required="" id="id_username">
            </div>
            <div class="input-field">
                <label for="id_password">Password:</label>
                <input type="password" name="password" maxlength="254" required="" id="id_password">
            </div>
            <ul class="alert truncate">
                {% if form.errors %}
                <li class="error shadow">
                    <div class="icon">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                    </div>
                    {{form.non_field_errors|striptags}}
                </li>
                {% endif %}
            </ul>
            <button class="but bg-dark-turquoise ripple">
                Login
            </button>
        </div>
    </div>
</form>
{% endblock container%} {% block script %}
<style>
    .alert .error .icon {
        margin: 0 10px 0 0;
    }
    .alert {
        width: 100%;
        padding: 0;
    }
</style>
{% endblock script %}