{% extends 'base.html'%} {% load static %} {% block title %} Signup {% endblock title %} {% block container %}
<form method="post">
  {% csrf_token %}
  <div class="card">
    <div class="head">
      Signup
    </div>
    <div class="content grid">
      <div class="input-field">
        <label for="id_username">Username:</label>
        <input type="text" name="username" maxlength="254" required="" id="id_username" value="{% if form.username.value %}{{form.username.value}}{% endif %}">
        <div class="hints">
          {{form.errors.username}}
        </div>
      </div>
      <div class="input-field">
        <label for="id_first_name">First name:</label>
        <input type="text" name="first_name" maxlength="30" id="id_first_name" value="{% if form.first_name.value %}{{form.first_name.value}}{% endif %}">
      </div>
      <div class="input-field">
        <label for="id_last_name">Last name:</label>
        <input type="text" name="last_name" maxlength="30" id="id_last_name" value="{% if form.last_name.value %}{{form.last_name.value}}{% endif %}">
      </div>
      <div class="input-field">
        <label for="id_email">Email:</label>
        <input type="email" name="email" maxlength="254" required="" id="id_email" value="{% if form.email.value %}{{form.email.value}}{% endif %}">
        <div class="hints">
          {{form.errors.email}}
        </div>
      </div>
      <div class="input-field">
        <label for="id_password1">Password:</label>
        <input type="password" name="password1" required="" id="id_password1">
        <div class="hints">
          <li>Your password can't be too similar to your other personal information.</li>
          <li>Your password must contain at least 8 characters.</li>
          <li>Your password can't be a commonly used password.</li>
          <li>Your password can't be entirely numeric.</li>
        </div>
        <div class="hints">
          {{form.errors.password1}}
        </div>
      </div>
      <div class="input-field">
        <label for="id_password2">Password confirmation:</label>
        <input type="password" name="password2" required="" id="id_password2">
        <span class="helptext"></span>
        <div class="hints">
          {{form.errors.password2}}
        </div>
      </div>
      <div class="input-field">
        <label for="id_birth_date">Birth date:</label>
        <input type="text" name="birth_date" required="" id="id_birth_date" value="{% if form.birth_date.value %}{{form.birth_date.value}}{% endif %}">
        <div class="hints">
          {{form.errors.birth_date}}
        </div>
      </div>
      <button class="but bg-dark-turquoise ripple">
        Sign up
      </button>
    </div>
  </div>
</form>
{% endblock container %} {% block script %}

<style>
  .nav {
    opacity: 0;
  }

  .bg-rusty-red {
    opacity: 0;
  }

  .right {
    opacity: 0;
  }
  footer {
    opacity: 0;
  }
</style>
{% endblock script %}