@keyframes a-ripple {
    0% {
      opacity: 0; }
    25% {
      opacity: 1; }
    100% {
      width: 200%;
      padding-bottom: 200%;
      opacity: 0; } }
  
  .c-ripple__circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.55); }
  
  .c-ripple {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent; }
  
  .ripple-dark .c-ripple__circle {
    background: rgba(0, 0, 0, 0.4); }
  
  .round .c-ripple__circle {
    border-radius: 50%; }
  
  .round .c-ripple {
    border-radius: 50%; }
  
  .ripple-teal .c-ripple__circle {
    background: teal; }
  
  .but {
    padding: 15px 40px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.02), 0 1px 2px rgba(0, 0, 0, 0.14);
    text-decoration: none;
    color: black;
    text-align: center;
    position: relative;
    background: #25ced1;
    color: white;
    font-size: 15px; }
    .but:hover {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.02), 0 1px 2px rgba(0, 0, 0, 0.14);
      background: #4adcdf; }
      .but:hover:after {
        opacity: 1; }
  
  .but.large {
    font-size: 30px; }
  
  .but.round {
    border-radius: 50%;
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    width: 56px;
    height: 56px;
    line-height: 56px;
    padding: 0;
    border-radius: 50%;
    -webkit-transition: .3s;
    transition: .3s;
    vertical-align: middle; }
  
  .but.round.large {
    width: 70px;
    height: 70px;
    line-height: 70px; }
  
  .but.round.small {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px; }
  
  .but.flat {
    box-shadow: none;
    background: none;
    color: #ff8002; }
    .but.flat:hover {
      color: #9b4d00; }
  
  .card, .card.bg-dark-turquoise, .card.bg-rusty-red, .card.bg-pink, .card.bg-yellow, .card.bg-light-grey, .card.bg-grey, .card.bg-teal, .card.bg-orange, .card.bg-deep-orange, .card.bg-amber, .card.bg-gainsboro, .card.bg-blue-grey {
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.02), 0 1px 2px rgba(0, 0, 0, 0.14);
    margin-top: 30px;
    margin-bottom: 50px;
    background: white; }
    .card .head {
      font-size: 25px;
      padding: 10px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.02), 0 1px 2px rgba(0, 0, 0, 0.14);
      margin: -20px 15px 0;
      float: left;
      border-radius: 5px;
      background: white;
      background: white; }
      .card .head .icon {
        float: left;
        padding: 10px;
        border-radius: 5px 0 0 5px;
        margin: -10px 10px -10px -10px; }
    .card .head.full-width {
      width: -webkit-fill-available;
      width: -moz-available; }
    .card .image {
      margin: -20px 15px 20px;
      float: left;
      width: -webkit-fill-available;
      width: -moz-available;
      position: relative;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.02), 0 1px 2px rgba(0, 0, 0, 0.14);
      border-radius: 0 0 5px 5px; }
      .card .image img {
        display: block;
        position: relative;
        width: 100%;
        border-radius: 0 0 5px 5px;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0; }
      .card .image .title {
        font-size: 25px;
        color: white;
        text-shadow: 1px 1px 1px black;
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 10px; }
    .card .tail {
      margin-top: 10px;
      border-top: 1px rgba(0, 0, 0, 0.125) solid; }
      .card .tail .but {
        padding: 15px 0;
        margin-right: 40px; }
    .card .content {
      padding: 40px 15px 15px; }
  
  .card.no-shadow {
    box-shadow: none; }
  
  .input-field {
    position: relative;
    margin: 0 0 20px; }
    .input-field input[type='email'],
    .input-field input[type='number'],
    .input-field input[type='password'],
    .input-field input[type='search'],
    .input-field input[type='tel'],
    .input-field input[type='text'],
    .input-field input[type='url'],
    .input-field textarea {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
      outline: none;
      height: 3rem;
      width: 100%;
      font-size: 1rem;
      padding: 0;
      box-shadow: none;
      box-sizing: content-box;
      transition: ease-out .6s; }
      .input-field input[type='email']:focus,
      .input-field input[type='number']:focus,
      .input-field input[type='password']:focus,
      .input-field input[type='search']:focus,
      .input-field input[type='tel']:focus,
      .input-field input[type='text']:focus,
      .input-field input[type='url']:focus,
      .input-field textarea:focus {
        border-bottom: 1px solid #25ced1; }
    .input-field [type='checkbox']:checked,
    .input-field [type='checkbox']:not(:checked),
    .input-field [type='radio']:checked,
    .input-field [type='radio']:not(:checked) {
      opacity: 0;
      z-index: 10; }
    .input-field [type='radio']:checked ~ label,
    .input-field [type='radio']:not(:checked) ~ label {
      position: relative;
      padding-left: 10px;
      z-index: 0;
      cursor: pointer; }
      .input-field [type='radio']:checked ~ label:before,
      .input-field [type='radio']:not(:checked) ~ label:before {
        cursor: pointer;
        content: '';
        border: 1px solid #25ced1;
        content: '';
        position: absolute;
        border-radius: 50%;
        left: -23px;
        top: 0;
        width: 16px;
        height: 16px;
        z-index: 0;
        transition: .4s ease;
        background: linear-gradient(to bottom, white 50%, #25ced1 50%);
        background-size: 100% 200%;
        background-position: left top; }
      .input-field [type='radio']:checked ~ label:after,
      .input-field [type='radio']:not(:checked) ~ label:after {
        content: '';
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0;
        margin: 4px;
        width: 16px;
        height: 16px;
        z-index: 0;
        -webkit-transition: .28s ease;
        transition: .28s ease; }
    .input-field [type='radio']:checked ~ label:before {
      background-position: right bottom; }
    .input-field [type='checkbox']:checked ~ label,
    .input-field [type='checkbox']:not(:checked) ~ label {
      position: relative;
      padding-left: 10px;
      z-index: 0;
      cursor: pointer; }
      .input-field [type='checkbox']:checked ~ label:before,
      .input-field [type='checkbox']:not(:checked) ~ label:before {
        cursor: pointer;
        content: '';
        border: 1px solid #25ced1;
        content: '';
        position: absolute;
        left: -23px;
        top: 0;
        width: 16px;
        height: 16px;
        z-index: 0;
        transition: .4s ease; }
      .input-field [type='checkbox']:checked ~ label:after,
      .input-field [type='checkbox']:not(:checked) ~ label:after {
        content: '';
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0;
        margin: 4px;
        width: 16px;
        height: 16px;
        z-index: 0;
        -webkit-transition: .28s ease;
        transition: .28s ease; }
    .input-field [type='checkbox']:checked ~ label:before {
      border-top: 2px solid transparent;
      border-left: 2px solid transparent;
      border-right: 2px solid #25ced1;
      border-bottom: 2px solid #25ced1;
      display: inline-block;
      transform: rotateZ(390deg);
      top: 0;
      left: -23px;
      width: 8px;
      transform-origin: 100% 100%; }
    .input-field select {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #25ced1;
      outline: none;
      height: 3rem;
      width: 100%;
      font-size: 1rem;
      padding: 0;
      box-shadow: none;
      box-sizing: content-box;
      transition: ease-out .6s;
      cursor: pointer; }
    .input-field textarea {
      margin: 5px; }
    .input-field label {
      transition: .3s ease-in;
      transform-origin: 0 100%;
      transform: translateY(20px);
      position: absolute;
      font-size: 1rem;
      color: #9e9e9e;
      cursor: text; }
    .input-field label.active {
      transform-origin: 0 0;
      transform: translateY(-12px) scale(0.9);
      color: #25ced1; }
    .input-field .prefix {
      position: absolute;
      width: 3rem;
      font-size: 2rem;
      -webkit-transition: color .2s;
      transition: color .2s; }
    .input-field i.prefix {
      transform: translateY(20px); }
    .input-field i.prefix.active {
      color: #25ced1; }
    .input-field .prefix ~ input,
    .input-field .prefix ~ label,
    .input-field .prefix ~ textarea {
      margin-left: 3rem;
      width: calc(100% - 3rem); }
    .input-field .hints {
      position: relative;
      text-align: right;
      margin-right: 10px;
      color: #9e9e9e;
      display: none; }
      .input-field .hints li {
        list-style: none; }
  
  .input-field.inline {
    display: inline-block;
    margin-left: 5px; }
  
  .nav {
    width: 100%;
    position: relative; }
    .nav ul {
      padding: 0;
      margin: 0; }
      .nav ul li {
        display: inline-flex; }
        .nav ul li a {
          color: black;
          text-decoration: none;
          font-weight: 800;
          padding: 20px; }
      .nav ul li.nav-indicator {
        position: absolute;
        bottom: 0;
        left: 0;
        background: black;
        height: 4px;
        transition: .5s; }
    .nav .logo {
      position: absolute;
      display: inline-block;
      font-size: 2.5rem;
      padding: .5rem;
      text-decoration: none;
      font-weight: 800; }
  
  .feature .feature-content {
    overflow-y: scroll;
    max-height: 100vh; }
  
  .feature .card {
    margin-right: 5px;
    margin-left: 5px; }
  
  .list {
    position: relative; }
    .list ul {
      padding: 0; }
      .list ul li {
        list-style-type: none;
        padding: 15px 5px;
        border: 1px rgba(0, 0, 0, 0.125) solid;
        position: relative;
        cursor: pointer; }
        .list ul li .icon {
          position: absolute;
          right: 25px; }
      .list ul .list-indicator {
        position: absolute;
        top: 0;
        right: 0;
        background: black;
        padding: 0;
        width: 5px;
        transition: .5s; }
    .list .list-header {
      font-size: 25px;
      padding: 10px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.02), 0 1px 2px rgba(0, 0, 0, 0.14);
      margin-bottom: 20px;
      float: left;
      width: -webkit-fill-available;
      width: -moz-available;
      border-radius: 5px;
      background: white;
      z-index: 1; }
      .list .list-header .icon {
        float: left;
        padding: 10px;
        border-radius: 5px 0 0 5px; }
  
  .parallax {
    height: 100vh; }
    .parallax .section {
      height: 100%;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
  
  .alert li {
    padding: 15px;
    list-style: none;
    margin: 2px; }
  
  .alert .error {
    border: solid 1px #FF5252;
    background: #ffb8b8;
    color: #000000;
    border-radius: 1px; }
    .alert .error .icon {
      float: left;
      margin: -15px;
      padding: 15px;
      width: 15px;
      text-align: center;
      margin-right: 10px;
      border-radius: 1px 0 0 1px;
      background: #FF5252;
      color: #000000; }
  
  .alert .warn {
    border: solid 1px #FFC107;
    background: #ffdb6d;
    color: #000000;
    border-radius: 1px; }
    .alert .warn .icon {
      float: left;
      margin: -15px;
      padding: 15px;
      width: 15px;
      text-align: center;
      margin-right: 10px;
      border-radius: 1px 0 0 1px;
      background: #FFC107;
      color: #000000; }
  
  .alert .success {
    border: solid 1px #1b5e20;
    background: #32ad3b;
    color: #ffffff;
    border-radius: 1px; }
    .alert .success .icon {
      float: left;
      margin: -15px;
      padding: 15px;
      width: 15px;
      text-align: center;
      margin-right: 10px;
      border-radius: 1px 0 0 1px;
      background: #1b5e20;
      color: #ffffff; }
  
  .alert .info {
    border: solid 1px #4CAF50;
    background: #92cf94;
    color: #000000;
    border-radius: 1px; }
    .alert .info .icon {
      float: left;
      margin: -15px;
      padding: 15px;
      width: 15px;
      text-align: center;
      margin-right: 10px;
      border-radius: 1px 0 0 1px;
      background: #4CAF50;
      color: #ffffff; }
  
  .carousel {
    width: 100%;
    position: relative;
    overflow: hidden; }
    .carousel .carousel-object-container {
      transition: 1s;
      width: 100%;
      height: 100%;
      display: inline-block;
      position: absolute;
      text-align: center; }
      .carousel .carousel-object-container img.carousel-object {
        width: 100%;
        display: block;
        height: 100%; }
      .carousel .carousel-object-container .text {
        text-align: center;
        font-size: 2em; }
      .carousel .carousel-object-container .top {
        position: absolute;
        top: 10px; }
      .carousel .carousel-object-container .right {
        position: absolute;
        right: 10px; }
      .carousel .carousel-object-container .left {
        position: absolute;
        left: 10px; }
      .carousel .carousel-object-container .bottom {
        position: absolute;
        bottom: 100px; }
      .carousel .carousel-object-container .middle {
        position: absolute;
        top: 40%;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto; }
      .carousel .carousel-object-container:not(:first-child) {
        display: none; }
    .carousel .tabs-container {
      background: rgba(255, 255, 255, 0.308);
      position: absolute;
      bottom: 10px;
      width: 100%;
      text-align: center; }
      .carousel .tabs-container .tabs {
        margin: auto; }
      .carousel .tabs-container li {
        display: inline-block;
        margin: 10px; }
  
  .skew-scroll {
    width: 100vw;
    position: relative;
    height: 100vh;
    overflow: hidden; }
    .skew-scroll div[class^="skew-page-"] {
      position: absolute;
      height: 100vh;
      width: 100%; }
      .skew-scroll div[class^="skew-page-"] .skew-left {
        position: absolute;
        width: 60%;
        height: 100vh;
        display: inline-block;
        transform: skew(-10deg);
        overflow: hidden;
        transition: 1s ease-out;
        left: -10%;
        transform: skew(-10deg) translate3d(0, 100vh, 0); }
        .skew-scroll div[class^="skew-page-"] .skew-left .content {
          display: flex;
          height: 100vh;
          background-size: cover;
          background-position: center, top;
          transform-origin: 100% 0;
          transform: skew(10deg);
          padding-left: 30%;
          padding-right: 30%; }
      .skew-scroll div[class^="skew-page-"] .skew-right {
        position: absolute;
        width: 60%;
        height: 100vh;
        display: inline-block;
        transform: skew(-10deg);
        overflow: hidden;
        transition: 1s ease-out;
        right: -10%;
        transform: skew(-10deg) translate3d(0, -100vh, 0); }
        .skew-scroll div[class^="skew-page-"] .skew-right .content {
          display: flex;
          height: 100vh;
          background-size: cover;
          background-position: center, top;
          transform-origin: 100% 0;
          transform: skew(10deg);
          padding-left: 30%;
          padding-right: 30%; }
      .skew-scroll div[class^="skew-page-"].active .skew-left {
        transform: translate3d(0, 0, 0) skew(-10deg); }
      .skew-scroll div[class^="skew-page-"].active .skew-right {
        transform: translate3d(0, 0, 0) skew(-10deg); }
      .skew-scroll div[class^="skew-page-"].in-active .skew-left {
        transform: skew(-10deg) translate3d(0, 100vh, 0); }
      .skew-scroll div[class^="skew-page-"].in-active .skew-right {
        transform: skew(-10deg) translate3d(0, -100vh, 0); }
  
  @keyframes fadeOut {
    from {
      opacity: 1; }
    to {
      opacity: 0; } }
  
  @keyframes fadeIn {
    from {
      opacity: 0; }
    to {
      opacity: 1; } }
  
  .tabs-container {
    width: 100%;
    position: relative; }
    .tabs-container .tabs-window-container {
      width: 100%;
      overflow: hidden; }
      .tabs-container .tabs-window-container .tabs-window {
        width: 100%;
        display: inline-block;
        position: absolute; }
  
  .model-container {
    display: none;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background: rgba(0, 0, 0, 0.12);
    position: absolute; }
    .model-container .model {
      height: 70vh;
      width: 50vw;
      display: block;
      margin: auto;
      position: absolute;
      left: 0;
      right: 0;
      top: 15%;
      background: white; }
  
  .full-scroll {
    width: 100vw;
    position: relative;
    height: 100vh;
    overflow: hidden; }
    .full-scroll div[class^="full-page-"] {
      position: absolute;
      height: 100vh;
      width: 100%; }
      .full-scroll div[class^="full-page-"] .full-window {
        position: absolute;
        width: 100%;
        height: 100vh;
        display: inline-block;
        overflow: hidden;
        left: 0%;
        transform: translate3d(0, 100vh, 0); }
        .full-scroll div[class^="full-page-"] .full-window .full-scroll-content {
          display: flex;
          height: 100vh;
          background-size: cover;
          background-position: center, top;
          transform-origin: 100% 0; }
      .full-scroll div[class^="full-page-"].active .full-window {
        animation: activate 1s forwards ease-in; }
      .full-scroll div[class^="full-page-"].in-active .full-window {
        animation: deactivate 1s ease-in forwards; }
  
  @keyframes activate {
    from {
      transform: translate3d(0, 100vh, 0); }
    to {
      transform: translate3d(0, 0, 0); } }
  
  @keyframes deactivate {
    0% {
      transform: translate3d(0, 0, 0); }
    50% {
      transform: translate3d(0, 0, 0); }
    100% {
      transform: translate3d(0, 100vh, 0); } }
  
  table {
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.02), 0 1px 2px rgba(0, 0, 0, 0.14);
    margin: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left; }
    table thead {
      margin: -20px 15px 0;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.02), 0 1px 2px rgba(0, 0, 0, 0.14); }
      table thead th {
        padding: 10px;
        border-spacing: 0; }
    table tbody td {
      padding: 10px; }
  
  table.striped tbody tr:nth-child(even) {
    background: #dfdede; }
  
  table.centered {
    text-align: center; }
  
  table.border td {
    border: 1px rgba(0, 0, 0, 0.125) solid; }
  
  table.hover tr:hover {
    background: #eceff1;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.02), 0 1px 2px rgba(0, 0, 0, 0.14); }
  
  .width-10 {
    width: 10%; }
  
  .width-20 {
    width: 20%; }
  
  .width-30 {
    width: 30%; }
  
  .width-40 {
    width: 40%; }
  
  .width-50 {
    width: 50%; }
  
  .width-60 {
    width: 60%; }
  
  .width-70 {
    width: 70%; }
  
  .width-80 {
    width: 80%; }
  
  .width-90 {
    width: 90%; }
  
  .row {
    display: flex;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .row .s1 {
      flex-basis: 8.33333%;
      max-width: 8.33333%;
      width: 8.33333%;
      box-sizing: border-box; }
      @media only screen and (max-width: 768px) {
        .row .s1 {
          flex-basis: 100%;
          max-width: 100%; } }
    .row .s2 {
      flex-basis: 16.66667%;
      max-width: 16.66667%;
      width: 16.66667%;
      box-sizing: border-box; }
      @media only screen and (max-width: 768px) {
        .row .s2 {
          flex-basis: 100%;
          max-width: 100%; } }
    .row .s3 {
      flex-basis: 25.0%;
      max-width: 25.0%;
      width: 25.0%;
      box-sizing: border-box; }
      @media only screen and (max-width: 768px) {
        .row .s3 {
          flex-basis: 100%;
          max-width: 100%; } }
    .row .s4 {
      flex-basis: 33.33333%;
      max-width: 33.33333%;
      width: 33.33333%;
      box-sizing: border-box; }
      @media only screen and (max-width: 768px) {
        .row .s4 {
          flex-basis: 100%;
          max-width: 100%; } }
    .row .s5 {
      flex-basis: 41.66667%;
      max-width: 41.66667%;
      width: 41.66667%;
      box-sizing: border-box; }
      @media only screen and (max-width: 768px) {
        .row .s5 {
          flex-basis: 100%;
          max-width: 100%; } }
    .row .s6 {
      flex-basis: 50.0%;
      max-width: 50.0%;
      width: 50.0%;
      box-sizing: border-box; }
      @media only screen and (max-width: 768px) {
        .row .s6 {
          flex-basis: 100%;
          max-width: 100%; } }
    .row .s7 {
      flex-basis: 58.33333%;
      max-width: 58.33333%;
      width: 58.33333%;
      box-sizing: border-box; }
      @media only screen and (max-width: 768px) {
        .row .s7 {
          flex-basis: 100%;
          max-width: 100%; } }
    .row .s8 {
      flex-basis: 66.66667%;
      max-width: 66.66667%;
      width: 66.66667%;
      box-sizing: border-box; }
      @media only screen and (max-width: 768px) {
        .row .s8 {
          flex-basis: 100%;
          max-width: 100%; } }
    .row .s9 {
      flex-basis: 75.0%;
      max-width: 75.0%;
      width: 75.0%;
      box-sizing: border-box; }
      @media only screen and (max-width: 768px) {
        .row .s9 {
          flex-basis: 100%;
          max-width: 100%; } }
    .row .s10 {
      flex-basis: 83.33333%;
      max-width: 83.33333%;
      width: 83.33333%;
      box-sizing: border-box; }
      @media only screen and (max-width: 768px) {
        .row .s10 {
          flex-basis: 100%;
          max-width: 100%; } }
    .row .s11 {
      flex-basis: 91.66667%;
      max-width: 91.66667%;
      width: 91.66667%;
      box-sizing: border-box; }
      @media only screen and (max-width: 768px) {
        .row .s11 {
          flex-basis: 100%;
          max-width: 100%; } }
    .row .s12 {
      flex-basis: 100.0%;
      max-width: 100.0%;
      width: 100.0%;
      box-sizing: border-box; }
      @media only screen and (max-width: 768px) {
        .row .s12 {
          flex-basis: 100%;
          max-width: 100%; } }
    .row .offset-1 {
      margin-left: 8.33333%; }
      @media only screen and (max-width: 768px) {
        .row .offset-1 {
          margin-left: 0; } }
    .row .offset-2 {
      margin-left: 16.66667%; }
      @media only screen and (max-width: 768px) {
        .row .offset-2 {
          margin-left: 0; } }
    .row .offset-3 {
      margin-left: 25.0%; }
      @media only screen and (max-width: 768px) {
        .row .offset-3 {
          margin-left: 0; } }
    .row .offset-4 {
      margin-left: 33.33333%; }
      @media only screen and (max-width: 768px) {
        .row .offset-4 {
          margin-left: 0; } }
    .row .offset-5 {
      margin-left: 41.66667%; }
      @media only screen and (max-width: 768px) {
        .row .offset-5 {
          margin-left: 0; } }
    .row .offset-6 {
      margin-left: 50.0%; }
      @media only screen and (max-width: 768px) {
        .row .offset-6 {
          margin-left: 0; } }
    .row .offset-7 {
      margin-left: 58.33333%; }
      @media only screen and (max-width: 768px) {
        .row .offset-7 {
          margin-left: 0; } }
    .row .offset-8 {
      margin-left: 66.66667%; }
      @media only screen and (max-width: 768px) {
        .row .offset-8 {
          margin-left: 0; } }
    .row .offset-9 {
      margin-left: 75.0%; }
      @media only screen and (max-width: 768px) {
        .row .offset-9 {
          margin-left: 0; } }
    .row .offset-10 {
      margin-left: 83.33333%; }
      @media only screen and (max-width: 768px) {
        .row .offset-10 {
          margin-left: 0; } }
    .row .offset-11 {
      margin-left: 91.66667%; }
      @media only screen and (max-width: 768px) {
        .row .offset-11 {
          margin-left: 0; } }
  
  .container {
    max-width: 1200px;
    margin: auto; }
  
  @media only screen and (max-width: 768px) {
    .container {
      max-width: 100%;
    }
  }
  
  .height-10vh {
    height: 10vh; }
  
  .height-20vh {
    height: 20vh; }
  
  .height-30vh {
    height: 30vh; }
  
  .height-40vh {
    height: 40vh; }
  
  .height-50vh {
    height: 50vh; }
  
  .height-60vh {
    height: 60vh; }
  
  .height-70vh {
    height: 70vh; }
  
  .height-80vh {
    height: 80vh; }
  
  .height-90vh {
    height: 90vh; }
  
  .height-100vh {
    height: 100vh; }
  
  .padding-0 {
    padding: 00px; }
  
  .padding-1 {
    padding: 10px; }
  
  .padding-2 {
    padding: 20px; }
  
  .padding-3 {
    padding: 30px; }
  
  .padding-4 {
    padding: 40px; }
  
  .padding-5 {
    padding: 50px; }
  
  .padding-6 {
    padding: 60px; }
  
  .padding-7 {
    padding: 70px; }
  
  .padding-8 {
    padding: 80px; }
  
  .padding-9 {
    padding: 90px; }
  
  .padding-10 {
    padding: 100px; }
  
  .margin-0 {
    margin: 00px; }
  
  .margin-1 {
    margin: 10px; }
  
  .margin-2 {
    margin: 20px; }
  
  .margin-3 {
    margin: 30px; }
  
  .margin-4 {
    margin: 40px; }
  
  .margin-5 {
    margin: 50px; }
  
  .margin-6 {
    margin: 60px; }
  
  .margin-7 {
    margin: 70px; }
  
  .margin-8 {
    margin: 80px; }
  
  .margin-9 {
    margin: 90px; }
  
  .margin-10 {
    margin: 100px; }
  
  .bg-dark-turquoise {
    background: #25ced1;
    color: #ffffff; }
  
  .list.bg-dark-turquoise li.list-indicator {
    background: #000000; }
  
  .list.bg-dark-turquoise .list-header {
    background: rgba(255, 255, 255, 0.95);
    color: #000000; }
  
  .list.bg-dark-turquoise li:hover {
    background: #4adcdf;
    color: #000000; }
    .list.bg-dark-turquoise li:hover a {
      color: #000000; }
  
  .nav.bg-dark-turquoise a {
    color: #ffffff; }
  
  .nav.bg-dark-turquoise li:hover {
    background: #4adcdf; }
    .nav.bg-dark-turquoise li:hover a {
      color: #000000; }
  
  .nav.bg-dark-turquoise li a.active {
    background: #4adcdf;
    color: #000000; }
  
  .nav.bg-dark-turquoise ul li a {
    color: #ffffff; }
  
  .nav.bg-dark-turquoise li.nav-indicator {
    background: #000000; }
  
  .bg-dark-turquoise.card {
    color: #ffffff;
    background: #25ced1; }
    .bg-dark-turquoise.card .head {
      background: rgba(255, 255, 255, 0.95);
      color: #000000; }
      .bg-dark-turquoise.card .head .icon {
        background: #25ced1;
        color: #ffffff;
        margin: -10px 10px -10px -10px; }
    .bg-dark-turquoise.card .tail {
      border-top: 1px rgba(0, 0, 0, 0.125) solid; }
      .bg-dark-turquoise.card .tail .but {
        color: #eee; }
  
  table.striped-dark-turquoise tbody tr:nth-child(even) {
    background: #25ced1;
    color: #ffffff; }
  
  table.hover-dark-turquoise tr:hover {
    background: #25ced1; }
  
  .bg-rusty-red {
    background: #d7263d;
    color: #ffffff; }
  
  .list.bg-rusty-red li.list-indicator {
    background: #000000; }
  
  .list.bg-rusty-red .list-header {
    background: rgba(255, 255, 255, 0.95);
    color: #000000; }
  
  .list.bg-rusty-red li:hover {
    background: #e05063;
    color: #000000; }
    .list.bg-rusty-red li:hover a {
      color: #000000; }
  
  .nav.bg-rusty-red a {
    color: #ffffff; }
  
  .nav.bg-rusty-red li:hover {
    background: #e05063; }
    .nav.bg-rusty-red li:hover a {
      color: #000000; }
  
  .nav.bg-rusty-red li a.active {
    background: #e05063;
    color: #000000; }
  
  .nav.bg-rusty-red ul li a {
    color: #ffffff; }
  
  .nav.bg-rusty-red li.nav-indicator {
    background: #000000; }
  
  .bg-rusty-red.card {
    color: #ffffff;
    background: #d7263d; }
    .bg-rusty-red.card .head {
      background: rgba(255, 255, 255, 0.95);
      color: #000000; }
      .bg-rusty-red.card .head .icon {
        background: #d7263d;
        color: #ffffff;
        margin: -10px 10px -10px -10px; }
    .bg-rusty-red.card .tail {
      border-top: 1px rgba(0, 0, 0, 0.125) solid; }
      .bg-rusty-red.card .tail .but {
        color: #eee; }
  
  table.striped-rusty-red tbody tr:nth-child(even) {
    background: #d7263d;
    color: #ffffff; }
  
  table.hover-rusty-red tr:hover {
    background: #d7263d; }
  
  .bg-pink {
    background: #ff4081;
    color: #000000; }
  
  .list.bg-pink li.list-indicator {
    background: #000000; }
  
  .list.bg-pink .list-header {
    background: rgba(255, 255, 255, 0.95);
    color: #000000; }
  
  .list.bg-pink li:hover {
    background: #ff0d5f;
    color: #000000; }
    .list.bg-pink li:hover a {
      color: #000000; }
  
  .nav.bg-pink a {
    color: #000000; }
  
  .nav.bg-pink li:hover {
    background: #ff0d5f; }
    .nav.bg-pink li:hover a {
      color: #000000; }
  
  .nav.bg-pink li a.active {
    background: #ff73a3;
    color: #000000; }
  
  .nav.bg-pink ul li a {
    color: #000000; }
  
  .nav.bg-pink li.nav-indicator {
    background: #000000; }
  
  .bg-pink.card {
    color: #000000;
    background: #ff4081; }
    .bg-pink.card .head {
      background: rgba(255, 255, 255, 0.95);
      color: #000000; }
      .bg-pink.card .head .icon {
        background: #ff4081;
        color: #000000;
        margin: -10px 10px -10px -10px; }
    .bg-pink.card .tail {
      border-top: 1px rgba(0, 0, 0, 0.125) solid; }
      .bg-pink.card .tail .but {
        color: #aaa; }
  
  table.striped-pink tbody tr:nth-child(even) {
    background: #ff4081;
    color: #000000; }
  
  table.hover-pink tr:hover {
    background: #ff4081; }
  
  .bg-yellow {
    background: #ff8002;
    color: #000000; }
  
  .list.bg-yellow li.list-indicator {
    background: #ffffff; }
  
  .list.bg-yellow .list-header {
    background: rgba(255, 255, 255, 0.95);
    color: #000000; }
  
  .list.bg-yellow li:hover {
    background: #ce6700;
    color: #ffffff; }
    .list.bg-yellow li:hover a {
      color: #ffffff; }
  
  .nav.bg-yellow a {
    color: #000000; }
  
  .nav.bg-yellow li:hover {
    background: #ce6700; }
    .nav.bg-yellow li:hover a {
      color: #ffffff; }
  
  .nav.bg-yellow li a.active {
    background: #ff9a35;
    color: #000000; }
  
  .nav.bg-yellow ul li a {
    color: #000000; }
  
  .nav.bg-yellow li.nav-indicator {
    background: #ffffff; }
  
  .bg-yellow.card {
    color: #000000;
    background: #ff8002; }
    .bg-yellow.card .head {
      background: rgba(255, 255, 255, 0.95);
      color: #000000; }
      .bg-yellow.card .head .icon {
        background: #ff8002;
        color: #000000;
        margin: -10px 10px -10px -10px; }
    .bg-yellow.card .tail {
      border-top: 1px rgba(0, 0, 0, 0.125) solid; }
      .bg-yellow.card .tail .but {
        color: #aaa; }
  
  table.striped-yellow tbody tr:nth-child(even) {
    background: #ff8002;
    color: #000000; }
  
  table.hover-yellow tr:hover {
    background: #ff8002; }
  
  .bg-light-grey {
    background: #eeeeee;
    color: #000000; }
  
  .list.bg-light-grey li.list-indicator {
    background: #000000; }
  
  .list.bg-light-grey .list-header {
    background: rgba(255, 255, 255, 0.95);
    color: #000000; }
  
  .list.bg-light-grey li:hover {
    background: #d5d5d5;
    color: #000000; }
    .list.bg-light-grey li:hover a {
      color: #000000; }
  
  .nav.bg-light-grey a {
    color: #000000; }
  
  .nav.bg-light-grey li:hover {
    background: #d5d5d5; }
    .nav.bg-light-grey li:hover a {
      color: #000000; }
  
  .nav.bg-light-grey li a.active {
    background: white;
    color: #000000; }
  
  .nav.bg-light-grey ul li a {
    color: #000000; }
  
  .nav.bg-light-grey li.nav-indicator {
    background: #000000; }
  
  .bg-light-grey.card {
    color: #000000;
    background: #eeeeee; }
    .bg-light-grey.card .head {
      background: rgba(255, 255, 255, 0.95);
      color: #000000; }
      .bg-light-grey.card .head .icon {
        background: #eeeeee;
        color: #000000;
        margin: -10px 10px -10px -10px; }
    .bg-light-grey.card .tail {
      border-top: 1px rgba(0, 0, 0, 0.125) solid; }
      .bg-light-grey.card .tail .but {
        color: #aaa; }
  
  table.striped-light-grey tbody tr:nth-child(even) {
    background: #eeeeee;
    color: #000000; }
  
  table.hover-light-grey tr:hover {
    background: #eeeeee; }
  
  .bg-grey {
    background: #9e9e9e;
    color: #000000; }
  
  .list.bg-grey li.list-indicator {
    background: #000000; }
  
  .list.bg-grey .list-header {
    background: rgba(255, 255, 255, 0.95);
    color: #000000; }
  
  .list.bg-grey li:hover {
    background: #858585;
    color: #000000; }
    .list.bg-grey li:hover a {
      color: #000000; }
  
  .nav.bg-grey a {
    color: #000000; }
  
  .nav.bg-grey li:hover {
    background: #858585; }
    .nav.bg-grey li:hover a {
      color: #000000; }
  
  .nav.bg-grey li a.active {
    background: #b8b8b8;
    color: #000000; }
  
  .nav.bg-grey ul li a {
    color: #000000; }
  
  .nav.bg-grey li.nav-indicator {
    background: #000000; }
  
  .bg-grey.card {
    color: #000000;
    background: #9e9e9e; }
    .bg-grey.card .head {
      background: rgba(255, 255, 255, 0.95);
      color: #000000; }
      .bg-grey.card .head .icon {
        background: #9e9e9e;
        color: #000000;
        margin: -10px 10px -10px -10px; }
    .bg-grey.card .tail {
      border-top: 1px rgba(0, 0, 0, 0.125) solid; }
      .bg-grey.card .tail .but {
        color: #aaa; }
  
  table.striped-grey tbody tr:nth-child(even) {
    background: #9e9e9e;
    color: #000000; }
  
  table.hover-grey tr:hover {
    background: #9e9e9e; }
  
  .bg-teal {
    background: teal;
    color: #ffffff; }
  
  .list.bg-teal li.list-indicator {
    background: #ffffff; }
  
  .list.bg-teal .list-header {
    background: rgba(255, 255, 255, 0.95);
    color: #000000; }
  
  .list.bg-teal li:hover {
    background: #00b3b3;
    color: #ffffff; }
    .list.bg-teal li:hover a {
      color: #ffffff; }
  
  .nav.bg-teal a {
    color: #ffffff; }
  
  .nav.bg-teal li:hover {
    background: #00b3b3; }
    .nav.bg-teal li:hover a {
      color: #ffffff; }
  
  .nav.bg-teal li a.active {
    background: #00b3b3;
    color: #ffffff; }
  
  .nav.bg-teal ul li a {
    color: #ffffff; }
  
  .nav.bg-teal li.nav-indicator {
    background: #ffffff; }
  
  .bg-teal.card {
    color: #ffffff;
    background: teal; }
    .bg-teal.card .head {
      background: rgba(255, 255, 255, 0.95);
      color: #000000; }
      .bg-teal.card .head .icon {
        background: teal;
        color: #ffffff;
        margin: -10px 10px -10px -10px; }
    .bg-teal.card .tail {
      border-top: 1px rgba(0, 0, 0, 0.125) solid; }
      .bg-teal.card .tail .but {
        color: #eee; }
  
  table.striped-teal tbody tr:nth-child(even) {
    background: teal;
    color: #ffffff; }
  
  table.hover-teal tr:hover {
    background: teal; }
  
  .bg-orange {
    background: #e65100;
    color: #ffffff; }
  
  .list.bg-orange li.list-indicator {
    background: #000000; }
  
  .list.bg-orange .list-header {
    background: rgba(255, 255, 255, 0.95);
    color: #000000; }
  
  .list.bg-orange li:hover {
    background: #ff6b1a;
    color: #000000; }
    .list.bg-orange li:hover a {
      color: #000000; }
  
  .nav.bg-orange a {
    color: #ffffff; }
  
  .nav.bg-orange li:hover {
    background: #ff6b1a; }
    .nav.bg-orange li:hover a {
      color: #000000; }
  
  .nav.bg-orange li a.active {
    background: #ff6b1a;
    color: #000000; }
  
  .nav.bg-orange ul li a {
    color: #ffffff; }
  
  .nav.bg-orange li.nav-indicator {
    background: #000000; }
  
  .bg-orange.card {
    color: #ffffff;
    background: #e65100; }
    .bg-orange.card .head {
      background: rgba(255, 255, 255, 0.95);
      color: #000000; }
      .bg-orange.card .head .icon {
        background: #e65100;
        color: #ffffff;
        margin: -10px 10px -10px -10px; }
    .bg-orange.card .tail {
      border-top: 1px rgba(0, 0, 0, 0.125) solid; }
      .bg-orange.card .tail .but {
        color: #eee; }
  
  table.striped-orange tbody tr:nth-child(even) {
    background: #e65100;
    color: #ffffff; }
  
  table.hover-orange tr:hover {
    background: #e65100; }
  
  .bg-deep-orange {
    background: #dd2c00;
    color: #ffffff; }
  
  .list.bg-deep-orange li.list-indicator {
    background: #000000; }
  
  .list.bg-deep-orange .list-header {
    background: rgba(255, 255, 255, 0.95);
    color: #000000; }
  
  .list.bg-deep-orange li:hover {
    background: #ff4011;
    color: #000000; }
    .list.bg-deep-orange li:hover a {
      color: #000000; }
  
  .nav.bg-deep-orange a {
    color: #ffffff; }
  
  .nav.bg-deep-orange li:hover {
    background: #ff4011; }
    .nav.bg-deep-orange li:hover a {
      color: #000000; }
  
  .nav.bg-deep-orange li a.active {
    background: #ff4011;
    color: #000000; }
  
  .nav.bg-deep-orange ul li a {
    color: #ffffff; }
  
  .nav.bg-deep-orange li.nav-indicator {
    background: #000000; }
  
  .bg-deep-orange.card {
    color: #ffffff;
    background: #dd2c00; }
    .bg-deep-orange.card .head {
      background: rgba(255, 255, 255, 0.95);
      color: #000000; }
      .bg-deep-orange.card .head .icon {
        background: #dd2c00;
        color: #ffffff;
        margin: -10px 10px -10px -10px; }
    .bg-deep-orange.card .tail {
      border-top: 1px rgba(0, 0, 0, 0.125) solid; }
      .bg-deep-orange.card .tail .but {
        color: #eee; }
  
  table.striped-deep-orange tbody tr:nth-child(even) {
    background: #dd2c00;
    color: #ffffff; }
  
  table.hover-deep-orange tr:hover {
    background: #dd2c00; }
  
  .bg-amber {
    background: #ffab00;
    color: #ffffff; }
  
  .list.bg-amber li.list-indicator {
    background: #000000; }
  
  .list.bg-amber .list-header {
    background: rgba(255, 255, 255, 0.95);
    color: #000000; }
  
  .list.bg-amber li:hover {
    background: #ffbc33;
    color: #000000; }
    .list.bg-amber li:hover a {
      color: #000000; }
  
  .nav.bg-amber a {
    color: #ffffff; }
  
  .nav.bg-amber li:hover {
    background: #ffbc33; }
    .nav.bg-amber li:hover a {
      color: #000000; }
  
  .nav.bg-amber li a.active {
    background: #ffbc33;
    color: #000000; }
  
  .nav.bg-amber ul li a {
    color: #ffffff; }
  
  .nav.bg-amber li.nav-indicator {
    background: #000000; }
  
  .bg-amber.card {
    color: #ffffff;
    background: #ffab00; }
    .bg-amber.card .head {
      background: rgba(255, 255, 255, 0.95);
      color: #000000; }
      .bg-amber.card .head .icon {
        background: #ffab00;
        color: #ffffff;
        margin: -10px 10px -10px -10px; }
    .bg-amber.card .tail {
      border-top: 1px rgba(0, 0, 0, 0.125) solid; }
      .bg-amber.card .tail .but {
        color: #eee; }
  
  table.striped-amber tbody tr:nth-child(even) {
    background: #ffab00;
    color: #ffffff; }
  
  table.hover-amber tr:hover {
    background: #ffab00; }
  
  .bg-gainsboro {
    background: #dfdede;
    color: #000000; }
  
  .list.bg-gainsboro li.list-indicator {
    background: #000000; }
  
  .list.bg-gainsboro .list-header {
    background: rgba(255, 255, 255, 0.95);
    color: #000000; }
  
  .list.bg-gainsboro li:hover {
    background: #c6c4c4;
    color: #000000; }
    .list.bg-gainsboro li:hover a {
      color: #000000; }
  
  .nav.bg-gainsboro a {
    color: #000000; }
  
  .nav.bg-gainsboro li:hover {
    background: #c6c4c4; }
    .nav.bg-gainsboro li:hover a {
      color: #000000; }
  
  .nav.bg-gainsboro li a.active {
    background: #f8f8f8;
    color: #000000; }
  
  .nav.bg-gainsboro ul li a {
    color: #000000; }
  
  .nav.bg-gainsboro li.nav-indicator {
    background: #000000; }
  
  .bg-gainsboro.card {
    color: #000000;
    background: #dfdede; }
    .bg-gainsboro.card .head {
      background: rgba(255, 255, 255, 0.95);
      color: #000000; }
      .bg-gainsboro.card .head .icon {
        background: #dfdede;
        color: #000000;
        margin: -10px 10px -10px -10px; }
    .bg-gainsboro.card .tail {
      border-top: 1px rgba(0, 0, 0, 0.125) solid; }
      .bg-gainsboro.card .tail .but {
        color: #aaa; }
  
  table.striped-gainsboro tbody tr:nth-child(even) {
    background: #dfdede;
    color: #000000; }
  
  table.hover-gainsboro tr:hover {
    background: #dfdede; }
  
  .bg-blue-grey {
    background: #eceff1;
    color: #000000; }
  
  .list.bg-blue-grey li.list-indicator {
    background: #000000; }
  
  .list.bg-blue-grey .list-header {
    background: rgba(255, 255, 255, 0.95);
    color: #000000; }
  
  .list.bg-blue-grey li:hover {
    background: #cfd6db;
    color: #000000; }
    .list.bg-blue-grey li:hover a {
      color: #000000; }
  
  .nav.bg-blue-grey a {
    color: #000000; }
  
  .nav.bg-blue-grey li:hover {
    background: #cfd6db; }
    .nav.bg-blue-grey li:hover a {
      color: #000000; }
  
  .nav.bg-blue-grey li a.active {
    background: white;
    color: #000000; }
  
  .nav.bg-blue-grey ul li a {
    color: #000000; }
  
  .nav.bg-blue-grey li.nav-indicator {
    background: #000000; }
  
  .bg-blue-grey.card {
    color: #000000;
    background: #eceff1; }
    .bg-blue-grey.card .head {
      background: rgba(255, 255, 255, 0.95);
      color: #000000; }
      .bg-blue-grey.card .head .icon {
        background: #eceff1;
        color: #000000;
        margin: -10px 10px -10px -10px; }
    .bg-blue-grey.card .tail {
      border-top: 1px rgba(0, 0, 0, 0.125) solid; }
      .bg-blue-grey.card .tail .but {
        color: #aaa; }
  
  table.striped-blue-grey tbody tr:nth-child(even) {
    background: #eceff1;
    color: #000000; }
  
  table.hover-blue-grey tr:hover {
    background: #eceff1; }
  
  body,
  html {
    margin: 0;
    padding: 0; }
  
  .clear-both {
    clear: both; }
  
  .right {
    float: right; }
  
  .left {
    float: left; }
  
  .shadow, blockquote {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.02), 0 1px 2px rgba(0, 0, 0, 0.14); }
  
  .no-shadow {
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.125); }
  
  .fixed {
    position: fixed; }
  
  .text-center {
    text-align: center;
    display: block; }
  
  .text-right {
    text-align: right;
    display: block; }
  
  .text-justify {
    text-align: justify;
    display: block; }
  
  .text-bold {
    font-weight: bold; }
  
  blockquote {
    padding: 15px 20px 15px 45px;
    margin: 20px 0px;
    display: block;
    position: relative;
    border-left: 10px solid #e65100;
    border-right: 2px solid #e65100; }
  
  blockquote::before {
    content: "\201C";
    font-size: 60px;
    font-weight: bold;
    color: #999;
    position: absolute;
    left: 10px;
    top: 5px; }
  
  blockquote a {
    text-decoration: none;
    cursor: pointer;
    padding: 0 3px;
    color: #e65100; }
  
  body {
    height: 100%; }
  