{% extends 'base.html' %}
{# Don't forget that one ! #}
{% load static %}
{% block title %}
    Edit Distributor
{% endblock title %}
{% block page_title %}Masters{% endblock page_title %}

{% block container %}
    <h3>Edit Distributor</h3>
    <hr>
    {% include 'partial/form.html' with date1="Date of Appointment" date2="Date of Cease" %}
{% endblock container %}

{% block footer %}
{{ form.media }}
<script>
    document.querySelector("#id_gst_number").addEventListener("change", function(){
        document.querySelector("#id_pan_number").value = document.querySelector("#id_gst_number").value.slice(2,12)
    });

    $(document).ready(function() {
        var direct = document.querySelector("#id_direct_from_company");
        var local = document.querySelector("#id_local_selling").parentElement;
        var onward = document.querySelector("#id_onward_supply").parentElement;
        if (!direct.checked) {
            $(local).hide();
            $(onward).hide();
        }

        direct.addEventListener("change", function(){
            if (direct.checked) {
                $(local).fadeIn();
                $(onward).fadeIn();
            } else {
                $(local).fadeOut();
                $(onward).fadeOut();
            }
        })
    })
</script>
{% endblock %}