{% load widget_tweaks %}
{% load formset_tags %}
{% if key_person_form %}
    <div id="key_person_form-form-set" data-formset-prefix="{{ key_person_form.prefix }}" class="uk-column-span uk-margin-top key_person_form_container">
        <h4>Key Person Form</h4>
        <span id="key_person_form-form-error-main" class="error">{{key_person_form.non_form_errors}}</span>
        <span class="error">{{key_person_form.non_form_errors}}</span>
        <hr/>
        {{ key_person_form.management_form }}
        <div data-formset-body>
            {% for each_key_person_form in key_person_form %}
                <div data-formset-form class="uk-column-1-3@s uk-column-divider key_person_form">
                    {% with WIDGET_ERROR_CLASS='uk-form-danger' WIDGET_REQUIRED_CLASS='my_required' %}
                        {% for form_field in each_key_person_form %}
                            <div>
                                <label>{{form_field.label}}</label>
                                {% if form_field.field.widget.input_type == "number" %}
                                    {% render_field form_field class+="uk-input" %}
                                {% elif form_field.field.widget.input_type == "checkbox" %}
                                    <label>{{form_field.label}}</label>
                                    {% render_field form_field class+="uk-checkbox" hidden="hidden" %}
                                {% else %}
                                    {% render_field form_field class+="uk-input" %}
                                {% endif %}
                                <span class="error">{{form_field.errors}}</span>
                            </div>
                        {% endfor %}
                    {% endwith %}
                    <br/>
                    <a data-formset-delete-button class="key_person_form_remove" uk-icon="icon: minus"></a>
                </div>
            {% endfor %}
        </div>
        <a data-formset-add class="key_person_form_add" uk-icon="icon: plus"></a>
        <hr/>
        <script type="form-template" data-formset-empty-form>
            {% escapescript %}
                <div data-formset-form class="uk-column-1-3@s uk-column-divider key_person_form">
                    {% with WIDGET_ERROR_CLASS='uk-form-danger' WIDGET_REQUIRED_CLASS='my_required' %}
                        {% for form_field in key_person_form.empty_form %}
                            <div>
                                <label>{{form_field.label}}</label>
                                {% if form_field.field.widget.input_type == "number" %}
                                    {% render_field form_field class+="uk-input" %}
                                {% elif form_field.field.widget.input_type == "checkbox" %}
                                    <label>{{form_field.label}}</label>
                                    {% render_field form_field class+="uk-checkbox" hidden="hidden" %}
                                {% else %}
                                    {% render_field form_field class+="uk-input" %}
                                {% endif %}
                                <span class="error">{{form_field.errors}}</span>
                            </div>
                        {% endfor %}
                    {% endwith %}
                    <a data-formset-delete-button class="key_person_form_remove" uk-icon="icon: minus"></a>
                </div>
            {% endescapescript %}
        </script>
        
        <script>jQuery(function($) {
            $("#key_person_form-form-set").formset().on('formAdded', function() {
                this.querySelector("#key_person_form-form-error-main").hidden = true;
            }).on('formDeleted', function() {
                this.querySelectorAll("[checked='checked']").forEach(function(el, index){
                    el.parentElement.parentElement.hidden = true
                });
                if (this.querySelectorAll(".key_person_form:not([hidden])").length === 0) {
                    this.querySelector("#key_person_form-form-error-main").innerHTML = "There Must be Atleast One Date Form"
                    this.querySelector("#key_person_form-form-error-main").hidden = false;
                }
            });
        });</script>
    </div>
{% endif %}
