{% extends 'base.html' %}
{% load static %}
{% block title %}
    Add Order
{% endblock title %}
{% block page_title %}Orders{% endblock page_title %}

{% block container %}
    <h3>Add Order</h3>
    <hr>
    <form method="post" enctype="multipart/form-data">
        {% include 'order_partial/form.html' %}
        {% include 'order_partial/product_row_form.html' %}
        <h3>Total</h3>
        {% include 'order_partial/form.html' with form=form2%}
        <button class="uk-button uk-button-default uk-margin primary">
            Submit
        </button>
    </form>
{% endblock container %}

{% block footer %}
{{ form.media }}
<script>
    var total_quantity = document.querySelector("#id_total_quantity")
    var total_cases = document.querySelector("#id_total_cases")
    var total_weight = document.querySelector("#id_total_weight")
    var date = document.querySelector("#id_date")
    var orderNumber = document.querySelector("#id_order_number")
    var company = document.querySelector("#id_company")
    var product_group = document.querySelector("#id_product_group")

    total_quantity.setAttribute("readonly", "");
    total_cases.setAttribute("readonly", "");
    total_weight.setAttribute("readonly", "");
    date.setAttribute("readonly", "");
    orderNumber.setAttribute("readonly", "")
    date.type="date"
    date.valueAsDate = new Date();

    var formCount = -1;
    var total_quantity_value = 0;
    var total_cases_value = 0;
    var total_weight_value = 0;


    function formAdded() {
        formCount++;
        for (var i = 0; i <= formCount; i++) {
            document.querySelector(`#id_product_row-${i}-product_quantity`).addEventListener("change", function (e){qantityChanged(i-1)});
            document.querySelector(`#id_product_row-${i}-product_cases`).addEventListener("change", casesChanged);
            document.querySelector(`#id_product_row-${i}-product_weight`).addEventListener("change", weightChanged);
            $(`#select2-id_product_row-${i}-product-container`).on("DOMSubtreeModified", function (e){getProductdetail(i-1)})
        }
    }

    function formRemoved() {
        formCount--;
        qantityChanged();
        casesChanged ();
        weightChanged();
    }

    function qantityChanged (n) {
        total_quantity_value = 0;
        for (var i = 0; i <= formCount; i++) {
            total_quantity_value +=
                parseInt(document.querySelector(`#id_product_row-${i}-product_quantity`).value);
        }
        getProductdetail(n)
        total_quantity.value = total_quantity_value;
    }

    function casesChanged () {
        total_cases_value = 0;
        for (var i = 0; i <= formCount; i++) {
            total_cases_value +=
                parseInt(document.querySelector(`#id_product_row-${i}-product_cases`).value);
        }
        total_cases.value = total_cases_value;
    }

    function weightChanged () {
        total_weight_value = 0;
        for (var i = 0; i <= formCount; i++) {
            total_weight_value +=
                parseInt(document.querySelector(`#id_product_row-${i}-product_weight`).value);
        }
        total_weight.value = total_weight_value;
    }

    function getOrderNumber(e) {
        var c = company.value;
        var pg = product_group.value;
        if (c && pg) {
            $("#select2-id_product_group-container").off("DOMSubtreeModified")
            $("#select2-id_company-container").off("DOMSubtreeModified")

            $.get(`/order/order_number/?c=${c}&p=${pg}`, function(data) {
                orderNumber.value = data;
             })
             setTimeout(function() {
                 $("#select2-id_product_group-container").on("DOMSubtreeModified", getOrderNumber)
                 $("#select2-id_company-container").on("DOMSubtreeModified", getOrderNumber)
             }, 500)
        }
    }

    function getProductdetail(n) {
        p_id = $(`#id_product_row-${n}-product`).val()
        console.log(n, p_id)
        if (p_id) {
            $(`#select2-id_product_row-${n}-product-container`).off("DOMSubtreeModified")
            $.getJSON(`/order/product_detail/${p_id}`, function(data) {
                quantity = $(`#id_product_row-${n}-product_quantity`).val()
                casses = Number(quantity) / Number(data.casses)
                weight = Number(quantity) * data.content * data.weight
                $(`#id_product_row-${n}-product_cases`).val(casses)
                $(`#id_product_row-${n}-product_weight`).val(weight)
                $(`#id_product_row-${n}-product_mrp`).val(data.mrp)
                qantityChanged();
                casesChanged ();
                weightChanged();
            })
            setTimeout(function() {
                $(`#select2-id_product_row-${n}-product-container`).on("DOMSubtreeModified", function (e){getProductdetail(n)})
            }, 500)
        }
    }

    $(document).ready(function(){
        $("#select2-id_product_group-container").on("DOMSubtreeModified", getOrderNumber)
        $("#select2-id_company-container").on("DOMSubtreeModified", getOrderNumber)
    })
</script>
{% endblock %}