{% load static %}
{% load scss %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Beat || {% block title %}{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="{% static 'uikit/css/uikit.min.css' %}" />
    <script src="{% static 'uikit/js/uikit.min.js' %}"></script>
    <script src="{% static 'uikit/js/uikit-icons.min.js' %}"></script>

    <script src="{% static 'js/model.js' %}"></script>
    {% scss 'css/style.scss' %}
    <style>
        .nav .logo {
            position: relative;
        }
    </style>
    {% block script %} {% endblock script %}
</head>

<body>
    <nav class="uk-navbar-container secondary" uk-navbar>
        <div class="uk-navbar-left">
            <a href="/" class="uk-navbar-item uk-logo">BEAT</a>
        </div>
    </nav>
    <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
        <nav class="uk-navbar-container primary" uk-navbar style="position: relative; z-index: 980;">
            <a href="/" class="uk-navbar-item uk-logo">Dashboard</a>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li>
                        <a href="#">Master</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a href="/master/state/">State</a></li>
                                <li><a href="/master/district/">District</a></li>
                                <li><a href="/master/town/">Town</a></li>
                                <li><a href="/master/unit/">Unit</a></li>
                                <li><a href="/master/productgroup/">Product Group</a></li>
                                <li><a href="/master/product/">Product</a></li>
                                <li><a href="/master/designation/">Designation</a></li>
                                <li><a href="/master/employee/">Employee</a></li>
                                <li><a href="/master/company/">Company</a></li>
                                <li><a href="/master/distributor/">Distributor</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#">Order</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a href="/order/?add">Add Order</a></li>
                                <li><a href="/order/">View Order</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#">Item</a>
                    </li>
                    <li>
                        <a href="#">Item</a>
                    </li>
                </ul>

            </div>
        </nav>
    </div>
    <div class="uk-container">
        {% block container %}
        
        {% endblock container %}
    </div>
    <div id="modal-base" uk-modal>
        <div class="uk-modal-dialog uk-modal-body"></div>
    </div>
</body>
{%block footer%} {%endblock footer%}
<link href="{% static 'css/select2.css' %}" rel="stylesheet" />
<script>
    $(document).ready(function(){
        UIkit.modal("#modal-base").hide();
    })
</script>

</html>