{% extends 'base.html'%} {% load static %} {% block title %} Home {% endblock title %} {% block container %}

<div>
    <ul>
        <li class="ripple ripple-teal">
            <i class="fa fa-bed icon" aria-hidden="true"></i>
            Leave
        </li>
        <li class="ripple ripple-teal">
            <i class="fa fa-briefcase icon" aria-hidden="true"></i>
            Travel
        </li>
        <li class="ripple ripple-teal">
            <i class="fa fa-building icon" aria-hidden="true"></i>
            Office
        </li>
        <li class="ripple ripple-teal">
            <i class="fa fa-flag icon" aria-hidden="true"></i>
            Market Survey
        </li>
        <li class="ripple ripple-teal">
            <i class="fa fa-book icon" aria-hidden="true"></i>
            Order Booking
        </li>
    </ul>
</div>
{% endblock container %} {% block script %}
<style>
    ul {
        padding: 0;
        margin: 10px;
    }
    li {
        width: 100%;
        text-align: center;
        display: inline-block;
        padding: 45px 0;
        position: relative;
        border: 1px solid #3C153B;
        border-collapse: collapse;
    }

    .icon {
        position: absolute;
        left: 0px;
        top: 0;
        font-size: 3.5em;
        border-right: 1px solid #3C153B;
        width: 20%;
        padding: 30px 10px;
        height: 50px;
        background: #8B1E3F;
        color: white;
    }
</style>
{% endblock script %}