{% extends 'base.html' %}
{# Don't forget that one ! #}
{% load static %}
{% block title %}
    Add Designation
{% endblock title %}
{% block page_title %}Masters{% endblock page_title %}

{% block container %}
    <h3>Add Designation</h3>
    <hr>
    {% include 'partial/form.html' %}
{% endblock container %}

{% block footer %}
{{ form.media }}
<script>
    $(document).ready(function(){
        $("form").on('submit', function(e){
            if (!$("#id_reporting_designation").val()) {
                if (window.confirm("Continue Without Reporting Designation")) {
                } else {
                    e.preventDefault();
                }
            }
        })
    })
</script>
{% endblock %}